name: express-react

volumes:

  express-react-db:
    external: false

  express-react-certificates:
    external: false


services:

  database:
    image: mongo:8.2.3-noble
    container_name: express-react-database
    hostname: express-react-database
    init: true
    volumes:
      - express-react-db:/data/db
    environment:
      TZ: Europe/Berlin

  backend:
    depends_on:
      - database
    image: express-react-backend
    build: ./backend
    container_name: express-react-backend
    hostname: express-react-backend
    init: true
    environment:
      TZ: Europe/Berlin
      DB_USER_NAME_FILE: /run/secrets/db-user
      DB_USER_PASS_FILE: /run/secrets/db-pass
    ports:
      - 3000:3000

  frontend:
    depends_on:
      - backend
    image: express-react-frontend
    build: ./frontend
    container_name: express-react-frontend
    hostname: express-react-frontend
    init: true
    environment:
      TZ: Europe/Berlin
    ports:
      - 80:80
      - 443:443
